.vscode/
.idea/

.git*
.travis.yml

dockerfiles/
unused_yet_useful/

build/
build-d/
test_build/
test_build-d/
obj/
obj-d/

submodules/bls/
submodules/mcl/

submodules/prometheus-cpp/_build/
submodules/ethash/build/
submodules/libff/build/

submodules/cryptopp/*.o
submodules/cryptopp/*.exe
submodules/cryptopp/*.a
submodules/cryptopp/adhoc.cpp

submodules/secp256k1/.libs/libsecp256k1.a
submodules/secp256k1/.libs/libsecp256k1.la
submodules/secp256k1/.libs/libsecp256k1.lai
submodules/secp256k1/Makefile
submodules/secp256k1/Makefile.in
submodules/secp256k1/aclocal.m4
submodules/secp256k1/autom4te.cache/output.0
submodules/secp256k1/autom4te.cache/output.1
submodules/secp256k1/autom4te.cache/output.2
submodules/secp256k1/autom4te.cache/requests
submodules/secp256k1/autom4te.cache/traces.0
submodules/secp256k1/autom4te.cache/traces.1
submodules/secp256k1/autom4te.cache/traces.2
submodules/secp256k1/build-aux/compile
submodules/secp256k1/build-aux/config.guess
submodules/secp256k1/build-aux/config.sub
submodules/secp256k1/build-aux/depcomp
submodules/secp256k1/build-aux/install-sh
submodules/secp256k1/build-aux/ltmain.sh
submodules/secp256k1/build-aux/m4/libtool.m4
submodules/secp256k1/build-aux/m4/ltoptions.m4
submodules/secp256k1/build-aux/m4/ltsugar.m4
submodules/secp256k1/build-aux/m4/ltversion.m4
submodules/secp256k1/build-aux/m4/lt~obsolete.m4
submodules/secp256k1/build-aux/missing
submodules/secp256k1/build-aux/test-driver
submodules/secp256k1/config.log
submodules/secp256k1/config.status
submodules/secp256k1/configure
submodules/secp256k1/gen_context
submodules/secp256k1/gen_context.o
submodules/secp256k1/libsecp256k1.la
submodules/secp256k1/libsecp256k1.pc
submodules/secp256k1/libtool
submodules/secp256k1/src/.deps/.dirstamp
submodules/secp256k1/src/.deps/bench_ecdh.Po
submodules/secp256k1/src/.deps/bench_internal-bench_internal.Po
submodules/secp256k1/src/.deps/bench_recover.Po
submodules/secp256k1/src/.deps/bench_sign.Po
submodules/secp256k1/src/.deps/bench_verify.Po
submodules/secp256k1/src/.deps/exhaustive_tests-tests_exhaustive.Po
submodules/secp256k1/src/.deps/libsecp256k1_la-secp256k1.Plo
submodules/secp256k1/src/.deps/tests-tests.Po
submodules/secp256k1/src/.dirstamp
submodules/secp256k1/src/ecmult_static_context.h
submodules/secp256k1/src/java/.deps/libsecp256k1_jni_la-org_bitcoin_NativeSecp256k1.Plo
submodules/secp256k1/src/java/.deps/libsecp256k1_jni_la-org_bitcoin_Secp256k1Context.Plo
submodules/secp256k1/src/libsecp256k1-config.h
submodules/secp256k1/src/libsecp256k1-config.h.in
submodules/secp256k1/src/libsecp256k1_la-secp256k1.lo
submodules/secp256k1/src/libsecp256k1_la-secp256k1.o
submodules/secp256k1/src/stamp-h1
