.vscode
.idea

.git*
.travis.yml
Jenkinsfile

dockerfiles
unused_yet_useful

build
build-d
test_build
test_build-d
obj
obj-d

submodules
Makefile.dependencies

sdk_py
tests_integration_py
documentation
dopple
