.vscode
.idea

.git*
.travis.yml
Jenkinsfile

dockerfiles
unused_yet_useful

build

### These come from the base image
scripts
Makefile.*
.gitmodules
submodules
###

sdk_py
tests_integration_py
documentation
cmake-*