[submodule "submodules/cryptopp"]
	path = submodules/cryptopp
	url = https://github.com/weidai11/cryptopp.git
[submodule "submodules/rapidjson"]
	path = submodules/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "submodules/bls"]
	path = submodules/bls
	url = https://github.com/herumi/bls.git
	ignore = dirty
[submodule "submodules/mcl"]
	path = submodules/mcl
	url = https://github.com/herumi/mcl.git
	ignore = dirty
[submodule "submodules/ethash"]
	path = submodules/ethash
	url = https://github.com/chfast/ethash
[submodule "submodules/secp256k1"]
	path = submodules/secp256k1
	url = https://github.com/chfast/secp256k1
[submodule "submodules/libff"]
	path = submodules/libff
	url = https://github.com/scipr-lab/libff
[submodule "submodules/prometheus-cpp"]
	path = submodules/prometheus-cpp
	url = https://github.com/jupp0r/prometheus-cpp.git
[submodule "submodules/taraxa-evm"]
	path = submodules/taraxa-evm
	url = https://github.com/Taraxa-project/taraxa-evm.git
[submodule "submodules/taraxa-vdf"]
	path = submodules/taraxa-vdf
	url = https://github.com/Taraxa-project/taraxa-vdf.git
[submodule "submodules/openssl"]
	path = submodules/openssl
	url = https://github.com/openssl/openssl.git
	ignore = dirty
[submodule "submodules/taraxa-vrf"]
	path = submodules/taraxa-vrf
	url = https://github.com/Taraxa-project/taraxa-vrf.git
	ignore = dirty
[submodule "submodules/aleth"]
	path = submodules/aleth
	url = https://github.com/02p01r/aleth.git
