[submodule "submodules/cryptopp"]
	path = submodules/cryptopp
	url = https://github.com/weidai11/cryptopp.git
[submodule "submodules/rapidjson"]
	path = submodules/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "submodules/bls"]
	path = submodules/bls
	url = https://github.com/herumi/bls.git
[submodule "submodules/mcl"]
	path = submodules/mcl
	url = https://github.com/herumi/mcl.git
