.vscode

.idea
*.iml

# for Cmake users, name your cmake build dirs like this:
cmake-*
# main build system (makefile) output dir
build
# put here local env stuff
local
Makefile.log.txt
Makefile.src_cxx.txt
.DS_Store