[submodule "submodules/cryptopp"]
	path = submodules/cryptopp
	url = https://github.com/weidai11/cryptopp.git
	ignore = all
[submodule "submodules/ethash"]
	path = submodules/ethash
	url = https://github.com/chfast/ethash
	ignore = all
[submodule "submodules/secp256k1"]
	path = submodules/secp256k1
	url = https://github.com/chfast/secp256k1
	ignore = all
[submodule "submodules/libff"]
	path = submodules/libff
	url = https://github.com/scipr-lab/libff
	ignore = all
[submodule "submodules/taraxa-evm"]
	path = submodules/taraxa-evm
	url = https://github.com/Taraxa-project/taraxa-evm.git
	ignore = all
[submodule "submodules/taraxa-vdf"]
	path = submodules/taraxa-vdf
	url = https://github.com/Taraxa-project/taraxa-vdf.git
	ignore = all
[submodule "submodules/openssl"]
	path = submodules/openssl
	url = https://github.com/openssl/openssl.git
	ignore = all
[submodule "submodules/taraxa-vrf"]
	path = submodules/taraxa-vrf
	url = https://github.com/Taraxa-project/taraxa-vrf.git
	ignore = all
[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest
	ignore = all
[submodule "submodules/taraxa-aleth"]
	path = submodules/taraxa-aleth
	url = https://github.com/Taraxa-project/taraxa-aleth.git
	ignore = all
[submodule "submodules/boost"]
	path = submodules/boost
	url = https://github.com/boostorg/boost.git
	ignore = all
