sudo: required
services:
  - docker
before_script:  
  - pip install --user awscli
  - export PATH=$PATH:$HOME/.local/bin
  - eval $(aws ecr get-login --region us-west-2 --no-include-email)
script:
<<<<<<< HEAD
  - docker build -t taraxa-node -f dockerfiles/Dockerfile .
after_success:
=======
  - docker build -t taraxa-node dockerfiles/Dockerfile .
after_success:
  - pip install --user awscli
  - export PATH=$PATH:$HOME/.local/bin
  - eval $(aws ecr get-login --region us-west-2 --no-include-email)
>>>>>>> adding dockerfiles
  - docker tag taraxa-node 258198740961.dkr.ecr.us-west-2.amazonaws.com/taraxa-node/$TRAVIS_BRANCH:TRAVIS_BUILD_NUMBER
  - docker push 258198740961.dkr.ecr.us-west-2.amazonaws.com/taraxa-node/$TRAVIS_BRANCH:TRAVIS_BUILD_NUMBER  
notifications:
  slack: phragmites:hOCkD4U6FsVSjf4ABAGnCJ8q
  
